<% provide(:title, "#{@user.name}") %>
<%= render 'layouts/header' %> 
<p id="notice"><%= notice %></p>
<section id="content">
    <p>Name: <%= @user.name %><p>
    	
   	<p>Email: <%= @user.email %><p>

    <%= link_to 'Edit', edit_user_path(@user) %> 
    <%= link_to "Sign out", signout_path, method: "delete" %>
    </section>

    <footer>
        <p>Manipulating Time &copy; 2016</p>
    </footer>